.project{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    overflow: hidden;
}
.project-info-block{
    padding: 10px;
}
.info{
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.info::-webkit-scrollbar{
    background-color: transparent;
    width: 3px;
}
.info::-webkit-scrollbar-thumb{
    background: white;
    
}
.summary{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    padding-top: 10px;
}
.summary-button{
    width: 90%;
    height: 40px;
    min-height: 40px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: all 0.1s;
}
.summary-button:hover{
    box-shadow: 4px 4px 0px 1px white;
    border: 1px solid white;
    transition: all 0.2s;
    transform: translateX(-5px) translateY(-5px);
}
.technologies{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}
.technologies::-webkit-scrollbar{
    background-color: transparent;
    width: 3px;
}
.technologies::-webkit-scrollbar-thumb{
    background: white;
    
}
.technology{
    height: 50px;
    min-height: 50px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.technology img{
    height: 40px;
    width: 40px;
    filter: invert(1);
}
