*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
html{
    /* scroll-behavior: smooth; */
    overflow: hidden;
}
body{
    display: flex;
    flex-direction: column;
}
.section{
    height: 100vh;
    width: 100vw;
}

/* home section */
#home{
    display: flex;
    flex-direction: column;
    
}
.os-logo{
    left: 50px;
    position: absolute;
}
.home-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/imgs/img-1.png');
    background-position:right;
    background-size: contain;
    background-repeat: no-repeat;

}
.start-popup{
    height: 325px;
    width: 465px;
    display: flex;
    flex-direction: column; 
    background-color: rgba(211, 211, 211, 0.397);
    border: 1px solid gray;
    border-radius: 15px;
    overflow: hidden;
}
.start-window-content{
    padding: 25px;
    overflow: hidden;
}
#home .title{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}
.title-2{
    color: rgb(241, 139, 22);
}
#home .short-description{
    margin-bottom: 25px;
    margin-top: 15px;
}
#about-contact-btn{
   color: white;
   background-color:rgb(241, 139, 22);
   text-decoration: none;
   padding: 10px 15px;
   border-radius: 10px;
   box-shadow: 0 2px 4px 0 lightgray;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: auto;
}

.home-footer{
    display: flex;
    height: 75px;
    width: 100vw;
    background-color: #f18b1631;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    gap: 20px;
    z-index: 1;
    border-top: 1px solid lightgray;
}
.start-footer-socials{
    display: flex;
    gap: 20px;
    
    
    
}
.start-footer-socials .social-logo{
    border: 1px solid transparent;
    transition: all 0.2s;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 10px;
}
.start-footer-socials .social-logo:hover{
    border: 1px solid gray;
}
.start-button{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}
.start-button img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.home-content .icons{
    position: absolute;
    height: 100%;
    width: 150px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
.desktop-icon{
    margin-top: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border: 1px solid transparent;
}
.desktop-icon a{
    color: black;
    text-decoration: none;
}
.desktop-icon:hover{
    border: 1px solid lightgray;
    border-radius: 10px;
}
.desktop-icon img{
    width: 75px;
    height: 75px;
}

.projects-container{
    width: 90%;
    height: 850px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    transform: scale(0);
    transition: all 0.2s;
}

.show-window{
    transition: all 0.2s;
    transform: scale(1) !important;
}




/* about section */
.about-container{
    width: 90%;
    height: 850px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    position: absolute;
    z-index: 10;
    transform: scale(0);
    transition: all 0.2s;
}
.show-window{
    transition: all 0.2s;
    transform: scale(1);
}



.about-content{
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}


.about-section-title{
    padding: 10px 10px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    flex-shrink: 0;
    user-select: none;
    
}


.personal-info{
    width: 100%;
    height: 60px;
    padding: 0px;
    border-radius: 15px;
    border: 1px solid lightgray;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition: all 0.3s;
    
    

}
.show-personal-info{
    height: 500px;
    transition: all 0.3s;
} 
.personal-info-content{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
    
}
.personal-info-content .top,
.personal-info-content .bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    overflow: hidden;

}

.personal-info-table{
    width: 250px;
    
}
.personal-info-content img{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.language-container{
    display: flex;
    align-items: center;
}
.education{
    width: 25%;
    margin-left: 30px;
}
#contact-icon{
    height: 20px;
    width: 20px;
    border: none;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.contact-info .contact{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.languages h2,
.education h2{
    margin: 10px;
}
.personal-info-content .description{
    padding: 5px 20px;
    overflow: hidden;

}
.education div{
    display: flex;
    
}
.education a{
    color:#F18B16;
    text-decoration: none;
    margin-left: auto;
    
}
.languages{
    width: 50%;
}

.lang-name{
    width: 100px;
}
.lang-level{
    width: auto;
    display: flex;

}
.dot{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid rgb(241, 139, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
}
.dot .dot-bg{
    background-color: #F18B16;
    width: 12px;
    height: 12px;
    border-radius: 30px;
}
.lang-label{
    margin-left: 20px;
}

.skills{
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 15px;
    height: 60px;
    overflow: hidden;
    transition: all 0.3s;
    border: 1px solid lightgray;
    margin-top: 20px;
}
.show-skills{
    height: 200px;
    transition: all 0.3s;
}

.learned-skills{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    overflow: visible;

}
.skill{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px lightgray;
    border: 1px solid lightgray;
    transition: all 0.2s;
}
.skill:hover{
    transform: scale(1.2);
    transition: all 0.2s;
}
.skill img{
    width: 60px;
    height: 60px;
}

.education{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
}

.cert-logo{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 20px;
    
}
.certificates{
    width: 100%;
    height: 60px;
    padding: 0px;
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    border: 1px solid lightgray;
    transition: all 0.3s;
}
.show-certificates{
    height: 450px;
    transition: all 0.3s;
}
.certificate{
    width: 50%;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    overflow: hidden;

    
}
#projects{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    /* background-image: url('/public/imgs/contact-bg.png');
    background-size: cover;
    background-position: center; */
    

}
.certificate:hover{
    background-color: rgba(211, 211, 211, 0.185);
}
.certificate:hover .dot{
    background-color: white;
}
.cert-link, .course-link{
    overflow: hidden;
    height: 25px;
}
.certificate a{
    color:#F18B16;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    
}
.certificate a:hover{
    border-bottom: 1px solid #F18B16;
}
.certificate .details{
    display: flex;
    flex-direction: column;
    
}

.timeline{
    height: 300px;
    width: 5px;
    position: absolute;
    left: 25px;
    top: 100px;
    background-color: #F18B16;
    overflow: visible;
}
.certificate .dot{
    background-color: #F18B16;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    z-index:2;
    
}


/* startring of projects widow */

.window-header{
    height: 10%;
    background-color: #fda33b;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-image: url(/public/imgs/header-bg.png);
    background-size: 30%;
    background-position: center;
    
}

.window-top-buttons{
    display: flex;
    margin-left: auto;
    width: 150px;
    height: 35px;
    justify-content: space-between;
}
.window-top-buttons  div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    overflow: hidden;
}
.window-top-buttons div:hover{
    background-color: rgba(0, 0, 0, 0.315);
}
.window-header .menu{
    display: flex;
    padding: 5px 20px;
    align-items: center;
    
}
.menu-buttons{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}
.menu-buttons div{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.menu-buttons div:hover{
    background-color: rgba(0, 0, 0, 0.315);
}
.left{
    transform: rotateY(-180deg);
}
.up{
    transform: rotateZ(-90deg);
}
.menu .adress{
    background-color: white;
    width: 50%;
    display: flex;
    border-radius: 50px;
    padding: 0px 25px;
    align-items: center;
    margin-left: 25px;;
}
.menu .adress .refresh{
    margin-left:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
.menu .adress .link{
    font-size: 20px;
    font-weight: 800;
}
.menu .adress .refresh:hover{
    background-color: rgba(0, 0, 0, 0.315);
}

.main-area{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
}
.main-area .content{
    width: 88%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow: auto;
}
.content::-webkit-scrollbar{
    background-color: transparent;
}
.main-area .scroll{
    width: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}
.scroll-button-1, .scroll-button-2{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    font-weight: 800;
    background-color: rgba(19, 15, 15, 0.151);
    border: 1px solid rgba(128, 128, 128, 0.247);
}
.scroll-track{
    background-color: rgba(211, 211, 211, 0.397);
    width: 75%;
    height: 40%;
    border-radius: 20px;
    margin: auto;
    border: 1px solid lightgray;
}
.main-area .left-menu{
    width: 10%;
    height: 90%;
    border-right: 1px solid lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.main-area .left-menu a{
    text-decoration: none;
    color: #fda33b;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
    
}
.main-area .left-menu a:hover{
    background-color: #fda23b2d;    
}

/* ending of projects widow */

.projects-container a{
    text-decoration: none;
    color: black;
}
.project-container:hover a{
    color: white;
}

.project-container{
    border: 3px solid white;
    border-radius: 10px;
    height: 270px;
    width: 30%;
    overflow: hidden;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px 0 lightgray;
    
}

.github-link{
    color:#F18B16 !important;
    border-bottom: 1px solid transparent;
    margin-top: auto;
    align-self: flex-start;
}
.github-link:hover{
    color: #f5b266 !important;
    border-bottom: 1px solid #F18B16;
}

.project-description{
    width: calc(100% - 30px);
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    transform: translateY(130px);
    transition: all 0.3s;
    padding: 0px 15px 15px 15px;
    
}
.project-container .title{
    margin-bottom: 5px;
    margin-top: 10px !important;
}
.project-container:hover .project-description{
    transition: all 0.2s;
    transform: translateY(0%);
    background-color: rgba(71, 68, 68, 0.575); 
    color: white;
    padding: 15px;
}

.project-image{
    width: 100%;
    height: 100%;
}


/* contact section */



.contact-container{
    height: 700px;
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 2px solid lightgray;
    padding: 0px;
    position: relative;
    transform: scale(0);
    transition: all 0.3s;
}

.close-contact-window-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid transparent;
}
.close-contact-window-btn:hover{
    border: 1px solid lightgray;
    background-color: rgba(128, 128, 128, 0.137);
}
.graphic-element-1{
    background-image: url('/public/imgs/contact-graphic.png');
    background-size:cover;
    background-position: center; 
    width: 60%;
    height: 100%;
}


.contact-form{
    
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid lightgray;
    background-image: url('/public/imgs/form-graphic.png');
    background-size:cover;
    background-position: center; 
}
.contact-form h1{
    margin-bottom: 30px;
}

.contact-containers{
    height: 630px;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    
}

.social-logo{
    width: 50px;
    height: 50px;
}
.social-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
}
.social-container:hover{
    color: #F18B16;
    cursor: pointer;
    border-bottom: 2px solid #F18B16;
    padding-bottom: 10px;
    transition: all 0.3s;
}
.social-medias{
    height: 10%;
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    border-top: 1px solid lightgray;
    
}
.social-media-container h1{
    margin-bottom: auto;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 30px;
    
}

.form-container{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    overflow: hidden;
}



.form-section{
    width: 100%;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.form-section input{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.form-section textarea{
    height: 100px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.contact-form button{
    margin: 50px;
    height: 50px;
    width: 150px;
    border: 1px solid lightgray;
    background-color: #F18B16;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100vw;
    background-color: #F18B16;
    color: white;
}