.side-panel{
    position: fixed;
    width: 150px;
    height: auto;
    top: 40%;
    right: 5px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
    border-left: 1px solid lightgray;
    transition: all 0.3s;
    
}
.side-panel .links{
    overflow: visible;
}
.side-panel .links a{
    text-decoration: none;
    color: black;
    height: 30px;
    margin: 30px 5px;
    display: block;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
    
}
.side-panel .links a:hover{
    border-bottom: 2px solid #F18B16;
    transform: scale(1.3) translateX(-20px);
    transition: all 0.2s;
}
.close-side-panel{
    position: absolute;
    left: -30px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    background-color: rgba(211, 211, 211, 0.322);
    cursor: pointer;
}

.hide-side-panel{
    transform: translateX(100%);
    transition: all 0.3s;
    
}
#side-panel-arrow{
    transition: all 0.3s;
    width: 20px;
    height: 20px;
    transform: rotateZ(90deg);

}
.rotate-side-panel-arrow{
    transition: all 0.3s;
    transform: rotateZ(-90deg) !important;
}