/* HOME */

.home-page{
    display: flex;
    height: 100%;
  }

  .home-page .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    gap: 15px;
    z-index: 5;
  
  }
  .scroll-down-button{
    position: absolute;
    bottom: 25px;
    left: calc(50% - 75px);
    width: 150px;
    background-color: transparent;
    border: none;
  }
  .scroll-down-button div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .scroll-down-button img{
    width: 50px;
    height: 50px;
  }
  .home-page h1{
    font-size: 60px;
  }
  .home-page h2{
    font-size: 30px;
  }
  .home-page .right{
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    z-index: 5;
  }
  .home-page .themes{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
    
  }
  .home-page .right .theme{
    width: 10px;
    overflow: hidden;
    height: 100px;
    border: 1px solid var(--accentColor);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
    transition: all 0.2s;
    color: white;
  }
  
  .home-page .right .theme:hover{
    background-size: 150%;
    transition: all 0.2s;
    width: 300px;
  }
  .home-page .right .theme h2{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  
  }
  









  /* Galxy Theme */



  .sky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.moon {
    position: absolute;
    top: 50px;
    left: 80%;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.6);
    transition: transform 0.2s ease-out; /* Smooth transition */
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: var(--accentColor);
  border-radius: 50%;
  opacity: 0.5;
  animation: twinkle 5s infinite ease-in-out; /* Slower twinkle for better effect */
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
}




/* Sakura Theme */

.petals-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;  
}

.petal {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('https://github.com/Stefan0712/portfolio/blob/a8769713de89fbd1e75d59884d6d69bf4c4f1f28/public/assets/petal.png?raw=true');  /* petal PNG */
  background-size:contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  animation: fall 10s linear infinite, float 5s ease-in-out infinite;
}

@keyframes fall {
  0% {
      top: -30px;
      opacity: 1;
  }
  100% {
      top: 100vh;  /* Falls off the screen */
      opacity: 0;
  }
}

@keyframes float {
  0% {
      transform: translateX(0) rotate(0deg);
  }
  50% {
      transform: translateX(20px) rotate(45deg);
  }
  100% {
      transform: translateX(-20px) rotate(-45deg);
  }
}





