*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.Galaxy,
.Sakura{
  font-family: "Varela", sans-serif !important;
}
.Newspaper{
  font-family: "Courier Prime", monospace !important;
}
:root{
  --textColor: white;
  --accentColor: white;
  --bgColor: #0a0a0aE6;
  --secondaryColor: #1a1a1b;
  --overLine: #0a0a0a;
  --elBg: lightgray;
  --selectedEl: #ffffff1a;
  --projectIconBg: white;
  --filterImage: invert(0);
}
.background{
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.App{
  
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: relative;
  background-color: var(--overLine);
}

/**************/
/**Navigation**/
/**************/

nav{
  display: flex;
  gap: 10px;
  position: absolute;
  width: 400px;
  height: 5px;
  top: 40px;
  left: calc(50% - 200px);
  background-color: var(--overLine);
  z-index: 15;
  justify-content: center;
}
nav a{
  color: var(--accentColor);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  transition: all 0.2s;
  border: 1px solid transparent;
}
nav a:hover{
  transform: translateY(5px);
}
.quick-links{
  position: absolute;
  left: 40px;
  top: calc(50% - 100px);
  width: 5px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  gap: 10px;
  z-index: 10;
  background-color: var(--overLine);
}
/* the main content where all other components are rendered in */

.content{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  position: relative;
  border: 5px solid var(--accentColor);
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
}
.content::-webkit-scrollbar{
  display: none;
}


.invert-icon{
  filter: invert(1) !important;
}
#home, #about, #projects, #contact{
  height: 100%;
  width: 100%;
  color: var(--textColor);
  padding: 30px;
  flex-shrink: 0;
}
.about-content a{
  color: var(--accentColor);
}
.quick-links img{
  width: 40px;
  height: 40px;
  transition: all 0.2s;
}
.quick-links img:hover{
  box-shadow: 4px 4px 0px 1px white;
  border: 1px solid white;
  transition: all 0.2s;
  transform: translateX(-5px) translateY(-5px);
}
/* The navigation buttons from the right of the app frame*/
.top-nav-button,
.bottom-nav-button{
  position: absolute;
  right: 40px;
  width: 5px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  gap: 10px;
  z-index: 10;
  background-color: var(--overLine);
  color: var(--textColor);
  writing-mode: vertical-lr;
  text-orientation: upright;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.1s;
  border: none;
}
.top-nav-button:hover,
.bottom-nav-button:hover{
  color: var(--accentColor);
  text-shadow: 1px 1px 1px var(--secondaryColor);
  width: 10px;
  transition: all 0.1s;
}
.top-nav-button{
  top: 15%;
}
.bottom-nav-button{
  bottom: 15%;
}















/*******************/
/**Decorative Text**/
/*******************/

.left-text{
  position: absolute;
  top: 0;
  left: 0;
}
.right-text{
  position: absolute;
  top: 0;
  right: 0;
}
.japanese-text{
  font-family: "Rampart One", sans-serif;
  color: var(--accentColor);
  font-size: 3rem;
  font-weight: bold;
}
.text-container {
  display: flex;
  justify-content: space-between;
  width: 30px; 
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  filter: blur(3px);
}

.looping-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: loopText 75s linear infinite;
  transform: translateY(0);
}

.looping-text span {
  display: block;
  margin-bottom: 10px; 
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--accentColor);
  margin: 0 5px; 
}

@keyframes loopText {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}












/***************************/
/**Temporary Mobile Layout**/
/***************************/

@media (max-width: 500px) {
  nav{
    display: none;
  }
  .quick-links{
    left: calc(50% - 75px);
    top: 20px;
    width: 150px;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .content{
    padding: 15px;
    border: none;
  }
  #home{
    flex-direction: column !important;
    padding: 0;
    height:  100vh;
  }
  #home .left{
    width: 100%;
    text-align: center;
  }
  #home .left h1{
    font-size: 2rem;
  }
  #home .left h2{
    font-size: 1.5rem;
  }
  #home .right{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #home .right .theme{
    width: 100%;
  }

  #about{
    flex-direction: column;
    padding: 0;
    height: auto !important;
  }
  .about-page{
    display: flex;
    flex-direction: column !important;
    width: 100%;
  }
  .about-section{
    width: 100% !important;
    height: auto !important;

  }
  
  #contact{
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  #contact .minigame-container{
    display: none;
  }
  #contact .contacts{
    width: 100%;
  }
  #contact .contact-form{
    width: 100%;
  }
  .contacts .links{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contact-form form{
    width: 100% !important;
  }
}